# Section 1 - Zero

![Quote from KFP](images/quote1.PNG)

In [312]:
import pandas as pd
%matplotlib inline
import seaborn as sns

In [313]:
t = pd.read_csv('data/train.csv')

- import pandas
- read a file
- df.shape, df.info, df.describe()
- df.head(NUMBER_OF_ROWS)
- df.tail(NUMBER_OF_ROWS)
- chaining of commands
- df.COLUMN ...  df['COLUMN'] ... df[['COLUMN 1', 'COLUMN 2', 'COLUMN 3']]
- dtypes / types
- boolean indexing
- df.Series.str.

In [314]:
t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Display the first 8 rows

### How many passengers are listed in this dataset?

### What are the different data types for the different columns?

### How many people survived (and died) based on this dataset? (Note this dataset isn't the complete list of passengers)

### What is the distribution of male/female passengers

### How many passengers travelled in the different classes

### What were the different towns that passengers embarked?

### What was the highest amount paid for a ticket?

### How many people paid the highest amount for a ticket?

### What do you know  about the different 'Anna's who were on the ship

### Did anyone with the title 'Sir.' travel on the titanic?

### How many children (those less than 19) travelled and survived?

### Who was the oldest person the travel on the Titanic

### Who was the oldest person to survive?

### Using a bar chart, show a distribution of the sex of people on the Titanic

### Create a bar plot of those who survived (vs. those who did not)

### Plot of those who survived (and didn't) by gender

### Use a bar chart to plot the number of passengers for each travel class

### Using a bar chart, plot from which towns the different classes of passengers embarked on the ship?