# Section 1 - Zero

<img src='images/quote1.PNG'>

In [1]:
import pandas as pd
%matplotlib inline
import seaborn as sns

In [2]:
t = pd.read_csv('data/train.csv')

- import pandas
- read a file
- df.shape, df.info, df.describe()
- df.head(NUMBER_OF_ROWS)
- df.tail(NUMBER_OF_ROWS)
- chaining of commands
- df.COLUMN ...  df['COLUMN'] ... df[['COLUMN 1', 'COLUMN 2', 'COLUMN 3']]
- dtypes / types
- boolean indexing
- df.Series.str.

In [ ]:
t.head()

### Display the first 8 rows

In [ ]:
t.head(8)

### How many passengers are listed in this dataset?

In [ ]:
len(t)

In [ ]:
# or t.info()

### What are the different data types for the different columns?

In [ ]:
t.dtypes

### How many people survived (and died) based on this dataset? (Note this dataset isn't the complete list of passengers)

In [ ]:
len(t[t.Survived == 1]) # survived

In [ ]:
# Alternatively
sum(t.Survived) # survived

In [ ]:
len(t[t.Survived == 0]) # non-survivors

### What is the distribution of male/female passengers

In [ ]:
t.Sex.value_counts()

### How many passengers travelled in the different classes

In [ ]:
t.Pclass.value_counts()

### What were the different towns that passengers embarked?

In [ ]:
t.Embarked.value_counts()

### What was the highest amount paid for a ticket?

In [ ]:
t.Fare.max()

### How many people paid the highest amount for a ticket?

In [ ]:
len(t[t.Fare == t.Fare.max()])

### What do you know  about the different 'Anna's who were on the ship

In [4]:
t[t.Name.str.contains('Anna')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5000,NaN,S
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
677,678,1,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S
747,748,1,2,"Sinkkonen, Miss. Anna",female,30.0,0,0,250648,13.0000,NaN,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S

### Did anyone with the title 'Sir.' travel on the titanic?

In [ ]:
t[t.Name.str.contains('Sir\.')]

In [ ]:
#Note that we couldn't use 'Sir.' as this would match 'Sir' followed by any character. '.' is used in regular expressions to denote any character.

In [ ]:
t[t.Name.str.contains('Sir.')]

### How many children (those less than 19) travelled and survived?

In [ ]:
len(t[(t.Survived == 1) & (t.Age <19)])

In [ ]:
t[(t.Survived == 1) & (t.Age <19)].count()

### Who was the oldest person the travel on the Titanic

In [ ]:
t.Age.max()

### Who was the oldest person to survive?

In [ ]:
t[(t.Survived == 1)].sort_values('Age',ascending=False) # Mr Barkworth

### Using a bar chart, show a distribution of the sex of people on the Titanic

In [ ]:
t.Sex.value_counts().plot(kind='bar')

In [ ]:
#Alternatively
sns.factorplot(x='Sex',data=t,kind='count',palette='coolwarm')

### Create a bar plot of those who survived (vs. those who did not)

In [ ]:
t.Survived.value_counts().plot(kind='bar')

In [ ]:
#Alternatively
sns.factorplot(x='Survived',data=t,kind='count')

### Plot of those who survived (and didn't) by gender

In [ ]:
sns.factorplot(x='Survived',data=t,kind='count',hue='Sex',palette='coolwarm')

### Use a bar chart to plot the number of passengers for each travel class

In [ ]:
sns.factorplot(x='Pclass',data=t,kind='count',hue='Sex',palette='coolwarm')

### Using a bar chart, plot from which towns the different classes of passengers embarked on the ship?

In [ ]:
sns.factorplot(x='Pclass',kind='count',data=t,hue='Embarked')