# Section 2 - Panda(s) in training

<img src='images/quote2.PNG'>

- df.dropna
- df.fillna
nunique, unique, value_counts
- df.set_index('index').sort_index()
- df.loc['index']
- df.iloc['index']

In [2]:
import pandas as pd
%matplotlib inline
import seaborn as sns

In [3]:
t = pd.read_csv('data/train.csv')

In [ ]:
t.head()

In [ ]:
### Plot the number of survivors for each of the Passenger class

In [ ]:
t.Pclass[t.Survived == 1].value_counts().sort_index().plot('bar')

### Which columns have missing values?

In [ ]:
t.info()
# Anything that has fewer than 891 non-null entries (Age, Cabin, Embarked)

### The Cabin column seems to have several missing values. Delete it.

In [ ]:
t.drop('Cabin',axis=1,inplace=True)

### Where ages are not available, replace them with the average age.

In [ ]:
t.Age.fillna(t.Age.mean(),inplace=True)

### Determine the most frequently embarked location and use this to fill in missing values

In [ ]:
t.Embarked.value_counts()

In [ ]:
t.Embarked.fillna('S',inplace=True)

In [ ]:
t.info()

### Show only the name, sex and age of all the teenagers

In [ ]:
t[(t.Age <=19) & (t.Age >= 13)][['Name','Sex','Age']]

### Show the name, age and class of travel of all women who travelled above the age of 50.

In [5]:
t[(t.Sex == 'female') & (t.Age > 50)][['Name', 'Age','Pclass']]

                                                  Name   Age  Pclass
11                            Bonnell, Miss. Elizabeth  58.0       1
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0       2
195                               Lurette, Miss. Elise  58.0       1
268      Graham, Mrs. William Thompson (Edith Junkins)  58.0       1
275                  Andrews, Miss. Kornelia Theodosia  63.0       1
366   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  60.0       1
483                             Turkula, Mrs. (Hedwig)  63.0       3
496                     Eustis, Miss. Elizabeth Mussey  54.0       1
513     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  54.0       1
571      Appleton, Mrs. Edward Dale (Charlotte Lamson)  53.0       1
591    Stephenson, Mrs. Walter Bertram (Martha Eustis)  52.0       1
765               Hogeboom, Mrs. John C (Anna Andrews)  51.0       1
772                                  Mack, Mrs. (Mary)  57.0       2
774              Hocking, Mrs. Elizabeth (Eliza Needs)  54.0       2
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0       1
829          Stone, Mrs. George Nelson (Martha Evelyn)  62.0       1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0       1

### Plot a bar chart showing the number of women who survived (vs. those who did not) travelling in first class

In [ ]:
t.Survived[(t.Sex == 'female') & (t.Pclass == 1)].value_counts().plot(kind='bar', color='pink',)

### Create a bar chart showing the number of men who survived (vs. those who did not) travelling in 3rd class

In [ ]:
t.Survived[(t.Sex == 'male') & (t.Pclass == 3)].value_counts().plot(kind='bar', color='lightblue')